@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Dokdo&family=Handlee&family=Homemade+Apple&family=Merienda&family=Oxanium&family=Short+Stack&display=swap');
body {
    margin: 0;
    font-family: 'Oxanium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code,
.font-logo {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.layout {
    background-color: hsl(41, 23%, 19%);
    min-height: 100vh;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.col,
.col-3,
.col-9 {
    /* padding: 1px; */
}

svg {
    height: 24px;
}